@model BlogProjectWeb.Models.ViewModels.EditTag
@{
}
<div class="bg-seconday bg-opacity-10 py-2"
     <div class="container">
         <h1>Edit Tag </h1>
     </div>
</div>

<div class="container py-5">
    @if (Model != null)
    {
        <form method="post">

        <div class="mb-3">
            <label class="form-label">Id</label>
            <input type="text" id="id" class="form-control" asp-for="Id" readonly />

        </div>

        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" id="name" class="form-control" asp-for="Name"/>

        </div>

        <span class="mb-3">
            <button type="submit" class="btn btn-dark">Update</button>
        </span>

            <span class="mb-3">
            <button class="btn btn-dark" type="submit"
                    asp-area=""
                    asp-controller="AdminTags"
                    asp-action="Delete">
                Delete
            </button>
        </span>


        


        </form>
    }
    else
    {
        <p>Tag not found</p>
    }
</div>